<%= render 'shared/content_title', title: 'Tags' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <%= render 'tag_row', tag: tag %>
    <% end %>
  </tbody>
</table>

<br />
<br />

<p><%= link_to 'New Tag', new_tag_path %></p>
